.soon {
	margin: 48px 0px 0px 0px;
	&__backg {
		width: 100%;
		height: 648px;
		background: $color-theme_block-3;
		color: $color-title;
	}
	&__title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1185px;
		margin: 0 auto;
		padding: 33px 0px 36px 0px;
		& div {
			display: flex;
			align-items: center;
			& button {
				width: 38px;
				height: 38px;
				@include button;
				& .bx {
					font-size: 24px;
					color: $color-title;
				}
				cursor: default;
			}
			& h2 {
				margin: 0px 0px 0px 5px;
				font-size: 19px;
				font-weight: 500;
				cursor: default;
			}
		}
		& button {
			width: 116px;
			height: 37px;
			@include button;
		}
	}
	.soon__column {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1185px;
		margin: 0 auto;
	}
	.soon__block {
		.soon__img {
			display: flex;
			align-items: center;
			margin: 0px 0px 25px 0px;
			.soon__text {
				margin: 0px 0px 0px 10px;
				width: 350px;
				& h2 {
					font-weight: 500;
				}
				.soon__genre {
					& p {
						margin: 0px;
					}
					& a {
						color: $color-btn;
					}
				}
				& p {
					font-family: 'Montserrat', sans-serif;
					margin: 10px 0px 10px 0px;
				}
				& button {
					width: 116px;
					height: 37px;
					@include button;
				}
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	.soon {
		.soon__title {
			max-width: 955px;
			margin: 0 auto;
		}
		.soon__column {
			max-width: 955px;
			margin: 0 auto;
		}
	}
}

@media screen and (max-width: 768px) {
	.soon {
		.soon__title {
			max-width: 695px;
			margin: 0 auto;
		}
		.soon__column {
			max-width: 695px;
			margin: 0 auto;
			flex-direction: column;
		}
		.soon__block:nth-child(2) {
			display: none;
		}
	}
}

@media screen and (max-width: 425px) {
	.soon {
		.soon__title {
			max-width: 354px;
			margin: 0 auto;
		}
		.soon__column {
			max-width: 354px;
			margin: 0 auto;
		}

		.soon__block {
			margin: 20px 0px 0px 0px;
			.soon__img {
				flex-direction: column;
				.soon__text {
					text-align: center;
				}
			}
			.soon__img:nth-child(2) {
				display: none;
			}
		}
	}
}
